In [1]:
import sqlite3
import pandas as pd

# Connect to the database
db_path = "poshmark_listings.db"
conn = sqlite3.connect(db_path)

# # List all tables
# tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
# print("Available tables:")
# display(tables)

In [2]:
query = """
SELECT 
    Seller,
    COUNT(*) AS item_count,
    AVG(CAST(REPLACE(REPLACE(Price, '$', ''), ',', '') AS REAL)) AS avg_price
FROM listings
WHERE Price NOT NULL AND Price != 'N/A'
GROUP BY Seller
ORDER BY avg_price ASC
LIMIT 100;
"""

result = pd.read_sql(query, conn)
display(result)

             Seller  item_count  avg_price
0    jabrielawad123           1   3.000000
1         7xseventy         960   4.719792
2      anasaldierna         730   5.597260
3   sincerely_renee          13   6.461538
4      poshingpro14          86   6.744186
..              ...         ...        ...
95       shane91599          57  10.052632
96      andresmers5          16  10.062500
97        watson294          25  10.080000
98       ddeaderick          19  10.157895
99         jacschw5           6  10.166667

[100 rows x 3 columns]

In [7]:
query = """
SELECT Seller, COUNT(*) AS item_count
FROM listings
WHERE CategoryName = 'Men > Shoes'
  AND Size IN ('8', '8.5', '9')
GROUP BY Seller
HAVING item_count > 10
ORDER BY item_count DESC;
"""

result = pd.read_sql(query, conn)
display(result)

            Seller  item_count
0         cjsplash          41
1  alfredoflores21          35
2        jredd2007          29
3           2wears          21
4  drbcollectibles          15

In [10]:
query = """
SELECT
    Seller,
    COUNT(*) AS item_count,
    ROUND(AVG(CAST(REPLACE(REPLACE(Price, '$', ''), ',', '') AS REAL)), 2) AS avg_price
FROM listings
WHERE CategoryName LIKE 'Men >%'
  AND Price NOT NULL
  AND Price != 'N/A'
  AND CAST(REPLACE(REPLACE(Price, '$', ''), ',', '') AS REAL) < 10
GROUP BY Seller
HAVING item_count > 20
ORDER BY item_count DESC;
"""

result = pd.read_sql(query, conn)
display(result)

             Seller  item_count  avg_price
0      gbresaleking         483       7.77
1           dhmunoz         131       7.47
2       jc_ramos510         102       7.38
3         taysallee          92       6.92
4         jredd2007          88       8.50
5           radocat          83       7.45
6     cityguymarket          72       7.83
7        cleoraines          70       6.96
8            amedom          59       7.63
9      anasaldierna          58       5.00
10   trustedflannel          57       8.11
11        shawnyang          55       5.85
12          holinok          52       8.25
13        7xseventy          48       5.19
14   jamesdablowski          47       5.49
15  colleenmccumsey          44       7.16
16  alfredoflores21          37       7.59
17   peach_smoocher          34       8.94
18    janiecole2025          34       6.47
19       cdance7180          34       7.74
20        tylerrayy          32       7.88
21    superradangel          27       5.85
22   juliahoenecke2          26       7.81
23       mindygeske          25       8.52
24      sneakyclean          24       7.88
25        ananda413          24       7.08
26   kaylenp7261988          23       7.00
27      thriftfresh          22       6.91
28     supermom1967          22       7.68
29        slugworth          22       7.59
30        kchannave          21       6.62

In [6]:
query = """
SELECT DISTINCT CategoryName
FROM listings
WHERE CategoryName IS NOT NULL AND CategoryName != 'N/A'
ORDER BY CategoryName;
"""

result = pd.read_sql(query, conn)
with pd.option_context(
    "display.max_rows", None,
    "display.max_columns", None,
    "display.max_colwidth", None
):
    display(result)

                                CategoryName
0       Electronics > Cameras, Photo & Video
1       Electronics > Car Audio, Video & GPS
2    Electronics > Cell Phones & Accessories
3   Electronics > Computers, Laptops & Parts
4                   Electronics > Headphones
5                        Electronics > Media
6                   Electronics > Networking
7                        Electronics > Other
8       Electronics > Portable Audio & Video
9        Electronics > Tablets & Accessories
10        Electronics > VR, AR & Accessories
11      Electronics > Video Games & Consoles
12                   Electronics > Wearables
13                            Home > Accents
14                                Home > Art
15                               Home > Bath
16                            Home > Bedding
17                             Home > Design
18                             Home > Dining
19                              Home > Games
20                            Home > Holiday
21                            Home > Kitchen
22                             Home > Office
23                              Home > Other
24                     Home > Party Supplies
25             Home > Storage & Organization
26                         Home > Wall Decor
27                        Kids > Accessories
28                  Kids > Bath, Skin & Hair
29                            Kids > Bottoms
30                           Kids > Costumes
31                            Kids > Dresses
32                    Kids > Jackets & Coats
33                      Kids > Matching Sets
34                         Kids > One Pieces
35                              Kids > Other
36                            Kids > Pajamas
37                      Kids > Shirts & Tops
38                              Kids > Shoes
39                               Kids > Swim
40                               Kids > Toys
41                         Men > Accessories
42                                Men > Bags
43                            Men > Grooming
44                     Men > Jackets & Coats
45                               Men > Jeans
46                               Men > Other
47                               Men > Pants
48                              Men > Shirts
49                               Men > Shoes
50                              Men > Shorts
51                     Men > Suits & Blazers
52                            Men > Sweaters
53                                Men > Swim
54                   Men > Underwear & Socks
55                                Pets > Cat
56                                Pets > Dog
57                               Pets > Fish
58                              Pets > Other
59                            Pets > Reptile
60                         Pets > Small Pets
61                       Women > Accessories
62                              Women > Bags
63                       Women > Bath & Body
64                           Women > Dresses
65                              Women > Hair
66             Women > Intimates & Sleepwear
67                   Women > Jackets & Coats
68                             Women > Jeans
69                           Women > Jewelry
70                 Women > Kimonos & Yukatas
71                            Women > Kurtas
72                            Women > Makeup
73                             Women > Other
74                 Women > Pants & Jumpsuits
75                             Women > Shoes
76                            Women > Shorts
77                          Women > Skincare
78                            Women > Skirts
79                          Women > Sweaters
80                              Women > Swim
81                              Women > Tops

In [6]:
# Close connection
conn.close()